@font-face {
  font-family: Werewolf;
  src: url("./assets/WEREWOLF.TTF");
}

:root{
  font-family: "Werewolf";
}

body, form, section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

